table td,th {
	background: white;
	font-size: 18px;
	text-align: center;
}

table span {
	display: inline-block;
	height: 15px;
	width: 15px;
	z-index: 100;
	border-radius: 50%;
	margin: 2px;
}

table .table-heading {
	border: none;
	marign: 0;
	padding: 0;
}

table .tdNames {
	background: #F9F9F9;
	text-align: left;
	padding-left: 50px;
	max-width: 350px;
}