body {
	background: #fffeea;
}

.wrapper {
	padding: 20px;
	width: 80%;
	margin: auto;
}

.bg-red {
	background: red;
}

.bg-green {
	background: green;
}

.bg-blue {
	background: blue;
}

.bg-orange {
	background: orange;
}